
body {
    margin: 0;
    font-family: system-ui, sans-serif;
}


#about_me_container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:
            linear-gradient(
                    150deg,
                    #3b8ea5 0%,
                    #3b8ea5 35%,
                    #ffffff 35%,
                    #ffffff 100%
            );
}
#photo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#text_container{
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-align: left;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#my_image{
    height: auto;
    max-width: 100%;
    display: block;
    background-color: #bcbfc6;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}
#my_work_container{
    min-height: 100vh;
    width: 100vw;
    background-color: green;
}

#contact_container{
    min-height: 100vh;
    width: 100vw;
    background-color: blue;
}

#parent_container{
    height: 100vh;
    width: 100vw;

}